{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
console.log('Script loaded');

function getOfficeList() {
    console.log('getOfficeList called');
    
    // Просто создаем тестовые данные
    const ul = document.getElementById('office-list');
    if (ul) {
        ul.innerHTML = `
            <li>Тестовый офис 1 - Свободен</li>
            <li>Тестовый офис 2 - Занят</li>
        `;
        console.log('Office list updated');
    } else {
        console.log('Element office-list not found');
    }
}

document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM loaded');
    getOfficeList();
});
</script>
{% endblock %}

{# основной контент: #}
{% block main %}
    <div class="office-container">
        <h1 class="office-title">Аренда офисов</h1>
        <ul class="office-list" id="office-list"></ul>
        <div id="total-cost" class="total-cost"></div>
    </div>
{% endblock %}