{% extends "base.html" %}

{# номер лабораторной работы:#}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент:#}
{% block main%}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a> - Пример шаблона
        </li>
         <li>
            <a href="/lab2/filters">filters</a> - Демонстрация фильтров Jinja2
        </li>
        <li>
            <a href="/lab2/flowers_html">Все цветы</a> - Все цветы
        </li>
        <li>
            <a href="/lab2/calc">Калькулятор</a> - Выражения
        </li>
        <li>
            <a href="/lab2/books">Книги</a> - Таблица с книгами
        </li>
        <li>
            <a href="/lab2/cars">Машины</a> - Картинки с машинами
        </li>
        <div>
            <a href="/">На главную</a> 
        </div>
    </ol>
{% endblock %}