{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    <div>
        Привет, 
        {% if name %}
            <span style="color: {{ name_color or '#000000' }}">{{ name }}</span>!
        {% else %}
            <span>Аноним</span>!
        {% endif %}
        {% if age %}
            <div>Ваш возраст: {{ age }}</div>
        {% endif %}
    </div>

    <!-- Форма для установки имени и возраста -->
    <form action="/lab3/set_user_info" method="POST">
        <div>
            <label>Ваш возраст:</label>
            <input type="number" name="age" value="{{ request.cookies.get('age') or '' }}" placeholder="Введите возраст">
        </div>
        <button type="submit">Сохранить</button>
    </form>

    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Удалить куки</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
        <li><a href="/lab3/order">Заказ напитка</a></li>
        <li><a href="/lab3/settings">Настройки оформления</a></li>
        <li><a href="/lab3/ticket">Железнодорожный билет</a></li>
        <li><a href="/lab3/settings">Настройки оформления</a></li>
    </ol>
    <div>
        <a href="/">На главную</a> 
    </div>
{% endblock %}